@model PagedResult<VoteApp.ViewModels.UserViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var item in Model.Data)
    {
        <div>
            @Html.DisplayFor(modelItem => item.Name)
        </div>
    }
</div>
</body>
</html>